:root {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 60%;
  max-height: 80%;
  background-color: aquamarine;
}

h1 {
  text-align: left;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.cal__result {
  text-align: right;
  background-color: aliceblue;
}

.cal__result p {
  margin: 0;
  padding: 0.5rem;
  font-size: 30px;
}
