:root {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 60%;
  max-height: 80%;
  background-color: aquamarine;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.cal__result {
  text-align: right;
  background-color: aliceblue;
}

.cal__result p {
  margin: 0;
  padding: 0.5rem;
  font-size: 30px;
}

.first__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto auto auto;
}

.first__row button {
  text-align: center;
}

.second__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.second__row button {
  text-align: center;
}

.third__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.third__row button {
  text-align: center;
}

.fourth__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.fourth__row button {
  text-align: center;
}

.fifth__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.fifth__row button {
  text-align: center;
}

.sixth__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.sixth__row button {
  text-align: center;
}

.seventh__row {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}

.seventh__row button {
  text-align: center;
}
